@page "/login"
@using SchoolMedical.BlazorWebApp.HoaLQ.Components.Layout
@using SchoolMedical.Repositories.HoaLQ.Auth
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager
@layout LoginLayout
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="text-center">Đăng nhập</h3>
            </div>
            <div class="card-body">
                <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator />
                    
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger">@errorMessage</div>
                    }

                    <div class="mb-3">
                        <label class="form-label">Tên đăng nhập</label>
                        <InputText @bind-Value="loginModel.Username" class="form-control" />
                        <ValidationMessage For="@(() => loginModel.Username)" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mật khẩu</label>
                        <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
                        <ValidationMessage For="@(() => loginModel.Password)" />
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
    @if (isLoading)
    {
        <p  class="text-center">
            <img src="https://i.pinimg.com/originals/41/83/c4/4183c45ac4d96bbd2933ff65810bf5f7.gif" alt="Loading..." />
        </p>
    }
</div>


@code {
    private LoginModel loginModel = new();
    private string errorMessage;

    private bool isLoading;
    private async Task HandleLogin()
    {
        isLoading = true;
        var user = await ServiceProvider.SystemUserAccountService.GetUserByUserNameAndPassword(loginModel.Username, loginModel.Password);

        if (user != null)
        {
            var customAuthStateProvider = (CustomAuthStateProvider)authStateProvider;
            await customAuthStateProvider.UpdateAuthenticationState(user);
            
            navigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = "Tên đăng nhập hoặc mật khẩu không đúng.";
        }

        isLoading = false;
    }

    public class LoginModel
    {
        [System.ComponentModel.DataAnnotations.Required(ErrorMessage = "Vui lòng nhập tên đăng nhập")]
        public string Username { get; set; }

        [System.ComponentModel.DataAnnotations.Required(ErrorMessage = "Vui lòng nhập mật khẩu")]
        public string Password { get; set; }
    }
}